:root {
  /* Font */
  --font-family-h: "Cabin", sans-serif;
  --font-family-p: "Lato", sans-serif;

  --h1-font-size: 35px;
  --h2-font-size: 2rem;
  --h3-font-size: 25px;
  --h4-font-size: 0.8rem;
  --p-font-size: 16px;
  --p-line-height: 1.5;
  --p-letter-spacing: 0.5px;

  /* Colors */
  --background-color: white;
  --background-color-y: #FBC336;
  --background-color-b: #141414;
  --background-color-g: #F5F5F5;
  --font-color-w: white;
  --font-color-b: black;
  --font-color-g: #595566;
  --service-card-color: rgba(38, 38, 38, 0.9);
  --card-bg-color: #FFFFFF;

  --content-width: 1200px;
  --card-gap: 2rem;
  --card-border-radius: 20px;

  --section-pd-block: 100px;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: minmax(20px, 1fr) [content-start] minmax(0, 1200px) [content-end] minmax(20px, 1fr);

  > * {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;

    > * {
      grid-column: content;
    }
  }

}


a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  line-height: 1.5;
}


