---
//@ts-nocheck
const { items = [] } = Astro.props;
---

<ul class="flow">
  {items.map((item) => <li>{item}</li>)}
</ul>

<style>
  @layer components {
    :root {
      --checkmark-icon: url("images/checkmark.svg");
    }
    ul {
      display: grid;
    }

    ul li {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: top;
      gap: 1rem;
    }

    ul li::before {
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../src/icons/checkmark.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media (max-width: 800px) {
      ul li::before {
        left: 0;
        color: white;
      }
    }
  }
</style>
