---
import Phone from "../icons/phone.svg";
import Clock from "../icons/clock.svg";
import Pin from "../icons/pin.svg";
import Bento from "../components/Bento.astro";
import InfoSection from "./InfoSection.astro";
---

<section>
  <article>
    <div class="flow">
      <InfoSection
        tag="PROCESS"
        title="Contact Us. It's Easy"
        text="Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative."
        variant="default"
      />
      <div class="info-container">
        <Phone class="phone" />
        <div>
          <p>Call Today</p>
          <p>+1 800 100 900</p>
        </div>
      </div>
      <div class="info-container">
        <Clock class="clock" />
        <div>
          <p>Call Today</p>
          <p>+1 800 100 900</p>
        </div>
      </div>
      <div class="info-container">
        <Pin class="pin" />
        <div>
          <p>Call Today</p>
          <p>+1 800 100 900</p>
        </div>
      </div>
    </div>
    <div>
      <Bento />
    </div>
  </article>
</section>

<style>
  @media (max-width: 800px) {
section{
    article {
      grid-template-columns: 1fr;
     

    }
  }
}


  section {
    display: grid;
    grid-template-columns: subgrid;
    padding: 100px 360px;
  }
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    h4 {
      display: inline-block;
      font-size: var(--h4-font-size);
      background-color: yellow;
      border-radius: 25px;
      padding: 0 10px;
    }
    h2 {
      font-size: var(--h2-font-size);
      font-weight: bold;
    }

    p {
      font-size: var(--p-font-size);
      font-family: var(--font-family-h);
      padding-right: 100px;
    }
  }

  .info-container {
    display: grid;
    grid-template-columns: auto 1fr;
    line-height: 1.5lh;
  }

  .info-container svg {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
  }

  .info-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-container p:last-of-type {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .phone {
    background-color: #ffecbb;
    color: #deaa27;
    margin-right: 20px;
  }
  .clock {
    background-color: #a4eda4;
    color: #4eaf4e;
    margin-right: 20px;
  }
  .pin {
    background-color: #eaeaea;
    color: #181818;
    margin-right: 20px;
  }
</style>
