---
// @ts-nocheck
---

<header>
<h3>AskExpert</h3>
  <nav>
    <ul>
      <li>Home</li>
      <li>Case Study</li>
      <li>Team</li>
      <li>About</li>
    </ul>
  </nav>
  <button>Login</button>
</header>

<style></style>
