---
import Services from "./Services.astro";
import Button from "./Button.astro";
---

<section class="hero">
    <div class="flow">
      <h1>Empowering Your Business Growth</h1>
      <p>
        Discover tailored strategies and expert insights to take your business
        to the next level. Let us help you navigate challenges and achieve
        sustainable success.
      </p>
  <!--     <a href="">Book a Meeting</a>
      <Button variant="primary" />  -->
      <Button variant="book">Book a Meeting</Button>
    </div>
    <div>
  <img src="images/Photo.jpg" alt="" />
</div>
  <Services />
</section>

<style>
  
  .hero {
    display: grid;
    grid-template-columns: subgrid;
    background-color: #181818;

    > * {
      grid-column: 1 / -1;
    }
    
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      bottom: 25%;
      background-color: #4eaf4e;
      z-index: -1;

      }
      h1 {
        font-size: var(--h1-font-size);
        font-family: var(--font-family-h);
        font-weight: bold;
      }

      p {
        font-size: var(--p-font-size);
        font-family: var(--font-family-p);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

} 



</style>
