---
import Tag from "./Tag.astro";
---

<section class="full-bleed">
  <div>
    <Tag text="TEAM" color="primary">Service</Tag>
    <h1>The Consultors</h1>
  </div>
</section>

<style>
  section {
    background-image: url("/images/heroabout.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 0;
  }

  div {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--background-color-g);
    border-radius: var(--card-border-radius);
    padding: 50px;
    width: fit-content;
    opacity: 80%;
    gap: 1rem;
    h1 {
      font-size: var(--h1-font-size);
      font-weight: bold;
    }
  }
</style>
