---
import Tag from "./Tag.astro";
---

<section class="full-bleed">
  <div>
    <Tag text="SERVICES" color="primary">Service</Tag>
    <h1>Creative Services For Boost Your Business Growth</h1>
  </div>
</section>

<style>
  section {
    background-image: url("/images/heroteam.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  }

  div {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--background-color-g);
    border-radius: var(--card-border-radius);
    opacity: 80%;
    width: fit-content;
    max-width: 550px;
    gap: 1rem;
    h1 {
      font-size: var(--h1-font-size);
      font-weight: bold;
    }
  }
</style>
