---

---
<section class="full-bleed">
  <img src="/images/heroabout.jpg" alt="">
</section>

<style>
  section {
   display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>