---
import Services from "./Services.astro";
import Button from "./Button.astro";
---

<section class="hero">
  <article>
    <figure>
      <img src="../src/assets/pattern.svg" alt="" />
    </figure>
    <div class="flow">
      <h1>Empowering Your Business Growth</h1>
      <p>
        Discover tailored strategies and expert insights to take your business
        to the next level. Let us help you navigate challenges and achieve
        sustainable success.
      </p>
  <!--     <a href="">Book a Meeting</a>
      <Button variant="primary" />  -->
      <Button variant="book">Book a Meeting</Button>
    </div>
  </article>
  <img src="images/Photo.jpg" alt="" />
  <Services />
</section>

<style>
  
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
    background-color: #181818;
    

    article {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      margin-block-start: 80px;
      gap: 20px;
      color: white;
      padding-right: 50px;
     

      figure, img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-width: 120px;
        margin-block: 25px;

      }
      h1 {
        font-size: var(--h1-font-size);
        font-family: var(--font-family-h);
        font-weight: bold;
      }

      p {
        font-size: var(--p-font-size);
        font-family: var(--font-family-p);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

} 



</style>
