---
// @ts-nocheck
import ScrollingCard from "./ScrollingCard.astro";
---

<section>
  <div>
    <h2>Financial Projections</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
      <img src="../src/icons/arrow--right.svg" alt="" />
      <img src="../src/icons/arrow-left.svg" alt="" />
  </div>
  <div>
    <ScrollingCard />
  </div>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    h2 {  
      font-size: var(--h2-font-size);
      font-family: var(--font-family-h);
      font-weight: bold;
    }

 
  }
</style>
