---
// @ts-nocheck
import ScrollingCard from "./ScrollingCard.astro";
import ArrowRight from "../icons/arrow--right.svg";
import ArrowLeft from "../icons/arrow-left.svg";
---

<section>
  <header>
    <div class="flow">
      <h2>Financial Projections</h2>
      <p>
        Financial projections are essential for planning and monitoring a
        company’s performance. They provide insights into potential revenue,
        expenses, and profitability over specific periods.
      </p>
    </div>
    <div class="navigation-buttons">
      <button>
        <ArrowLeft class="bars" />
      </button>
      <button>
        <ArrowRight class="bars" />
      </button>
    </div>
  </header>
  <ScrollingCard />
</section>

<style>
  @media (max-width: 800px) {
    section{
    header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "text"
        "navigation";
      justify-items: center;
      gap: 1rem;
    }

    h2 {
      grid-area: title;
    }

    p {
      grid-area: text;
    }

    .navigation-buttons {
      grid-area: navigation;
    }

    .navigation-buttons {
    display: flex;
    place-self: start;
    gap: 3rem;
  }
  }
}
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  section {
    display: grid;
    grid-template-columns: subgrid;
    background-color: #f5f5f5;
    padding-block: var(--padding-block);

    h2 {
      font-size: var(--h2-font-size);
      font-weight: bold;
    }
  }

  .navigation-buttons {
    display: flex;
    place-self: end end;
    gap: 3rem;
  }

  button {
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button:hover {
    background-color: yellow;
    color: black;
    .bars {
  }
  }

  .bars {
    color: white;
  }
</style>
