---
//@ts-nocheck
import Button from "./Button.astro";
const servicesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/services"
).then((response) => response.json());
---

<ul>
  {
    servicesData.services.map((service) => (
      <li>
        <h2>{service.title}</h2>
        <p>{service.description}</p>
        <Button variant="secondary">{service.buttonText}</Button>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    ul {;
      position: absolute;
      gap: 1rlh;
      display: grid;
      justify-self: center;
      margin-block: 45vh;
      color: white;
      grid-template-columns: repeat(3, 1fr);

      li {
        grid-row: span 3;
        display: grid;
        grid-template-rows: subgrid;
        gap: 10px;
        background: var(--service-card-color);
        padding: 2rem;
        border-radius: 12px;
        max-width: 300px;
        text-align: left;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        font-family: var(--font-family-p);
        font-size: var(--p-font-size);
      }

      h2 {
        font-family: var(--font-family-h);
        font-size: var(--h4-font-size);
        font-weight: bold;
      }
    }
  }
</style>
