---
import CheckList from "./CheckList.astro";
import InfoSection from "./InfoSection.astro";
---

<section>
  <article>
    <div>
      <InfoSection
        tag="OUR VISION"
        title="Turn your ideas into reality."
        text="Our collaboration is built on transparency, efficiency, and measurable results. Together, we create strategies tailored to your unique needs and goals."
        variant="default"
      />
      <CheckList
        items={[
          "Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.",
          "Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.",
        ]}
      />
    </div>
    <figure>
      <img src="images/patternwhat.svg" alt="Mønster baggrund" />
      <img src="/images/visionpeeps.jpg" alt="">
    </figure>
    <div>

    </div>
  </article>
</section>

<style>
  section{
    display: grid;
    grid-template-columns: subgrid;
    padding-block: 50px;

  article {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    figure {
      position: relative;
      padding-top: 3rem;

      &::before {
        content: "";
        position: absolute;
        background: #4eaf4e;
        top: 25px;
        right: 50px;
        width: 183px;
        height: 164px;
        border-radius: 12px;
        z-index: -1;
      }
      :first-of-type {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 250px;
        object-fit: contain;
        z-index: -2;
      }

      :last-of-type {
        position: relative;
        z-index: 2;
        width: 450px;
        margin-left: 70px;
        margin-top: 20px;
        border-radius: 12px;
      }

      div {
        grid-column: 1 / -1;
      }
    }
  }
  @media (max-width: 1000px) {
    section {
      padding: 60px 40px;

      article {
        display: flex;
        flex-direction: column;
      }

      figure {
        order: 2; 
        width: 100%;
        display: flex;
        justify-content: center;

        &::before {
          display: none;
        }

        :first-of-type {
          display: none;
        }

        :last-of-type {
          width: 100%;
          margin-left: 0;
          margin-top: 0;
          max-width: 600px; /* Begrænser billedets størrelse */
        }
      }

      div {
        width: 100%;
        text-align: left;
        gap: 1rem;
      }

      ul {
        padding: 0;
        list-style: none;
      }

      ul li {
        position: relative;
        padding-left: 2rem;
      }

      ul li::before {
        position: absolute;
        left: 0;
      }
    }
  }

  /* Mobile responsivity */
  @media (max-width: 576px) {
    section {
      padding: 40px 20px;

      figure :last-of-type {
        max-width: 100%;
      }

      div ul li {
        padding-left: 2.5rem;
        margin-bottom: 1rem;
      }

      div ul li::before {
        left: 0;
        top: 0.3rem;
      }
    }
  }
</style>
